#result-container{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#result-text-container{
  color: rgb(219, 212, 212);
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#result-number{
  font-size: 65px;
  font-weight: 600;
}

#result-metric{
  font-size: 20px;
  font-weight: 700;
}

#normal-text{
  color: white;
}

#format-and-delete-container{
  display: flex;
  align-items: center;
  column-gap: 50px;
}

#format{
  height: 30px;
  width: 80px;
  font-size: 15px;
}

#delete-button{
  color: white;
  font-size: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}

@media (max-width: 620px){
  #result-number{
    font-size: 40px;
    font-weight: 600;
  }
}